body, html { overflow-x:hidden; }

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;

	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}

.clear {
	clear: both;
}

.height30 {
	height: 30px;
}

#email a {
    color: #e67e22;
}
#phone a {
    color: #e67e22;
}


.top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}

.top-menu {
    min-height:110px;
    background-color:#ffffff;
    z-index: 5000;
    width:100%;
    box-shadow: 0px 0px 10px 3px #b7b7b7;
}

.top-menu .navbar-toggle {
    margin-top: 38px;
}

.top-menu .navbar-brand {
    padding: 0;
    margin: 30px 0 0 0;
}

/* ------ greeting ----- */

#greeting {
    background: url('../images/buhgalteria.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 500px;
}

#greeting .greeting-caption {
    z-index: 10;
}

#greeting .item {
    height: 500px;
}
#greeting .greeting-inner > .item > img {
    position: absolute;
    min-width: 100%;
    height: 500px;
    left: 0;
    top: 0;
}

@media (min-width: 768px) {
    #greeting .greeting-caption p {
        margin-bottom: 20px;
        line-height: 1.4;
        font-size: 21px;
    }

    #greeting .greeting-caption {
        padding-bottom: 210px;
        right: 20%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    #greeting .greeting-caption {
        padding-bottom: 210px;
    }
}

@media (max-width: 1024px) {
    #greeting {
        background: url('../images/buhgalteria_bg_s.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
}

/* ------ End of greeting ----- */

/* ------ Welcome & Slogna ------ */
.welcome {
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.welcome .greeting-caption {
    position: static;
    color: black;
}

.slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin: 60px 0;
    color: #333333;
}
.service {
    margin-bottom: 100px;
    margin-top: 100px;
}

.service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}
.icon-service {
    width: 50px;
    margin-right: 10px;
}

.service-item p {
    font-weight: lighter;
    text-align: justify;
    margin-top: 25px;
    font-size: 18px;
    color: #929292;
}

.subheader {
    font-weight: normal;
    margin-top: 12px;
    color: #e67e22;
}

.btn-orange {
    background-color: #ff7600;
    border-bottom:2px solid #d35400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #d35400;
    color:#ffffff;
}

.btn-green {
    background-color:#2ecc71;
    border-bottom:2px solid #27ae60;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color:#ffffff;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}


.nav > li > a {
    color: #929292;
}
.navbar-default {
    background-color:#fff;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar {
    margin-bottom: 0px;
}

.service-item-header {
    margin-left: -10px;
    padding: 16px 20px 20px;
    font-weight: bold;
    display: inline-block;
}

.header-orange {
    background-color:#ff7600;
    min-width: 298px;
    height: 67px;
    color: #fff;

}

.team_hr {
    border: 1px solid #fff;
    width: 100%;

}





.hr_gray {
    border: 1px solid #cccccc;
}

.team {
    background: url('../images/background.png') ;
    font-family:  'Open Sans', sans-serif;
    min-height:590px;
    color:#ffffff;

}
.line-header {
    margin-top:30px;
    margin-bottom:80px;
}

.text-about {
    text-align: justify;
    text-indent: 25px;
    font-size: 18px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 5px 3px #7c7c7c;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding: 20% 5% 5% 5%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
    top: 50%;
        left: 50%;
}

.row_team {
    margin-left:-50px;
}

.row_team li {
    list-style: none;
}

#services .greeting-caption {
    position: static;
    color: #333333;
    margin: 0 15px 15px;
}

.project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    width: 200px;
}

.project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #ff7600;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;

}

.project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}

.txt_slogan {
    text-align: justify;
    font-size:18px;
    color: #929292;
    text-shadow: none;
}

.line-header span {
    font-size: 22px;
    margin-top: 10px;
}

.team_box  div {
    text-align: center;
    padding-top: 100px;
}

.span_reviews {
    margin-bottom: 80px;
}

.border li:nth-child(2){border-color: #8bc63e;}
.border li:nth-child(3){border-color: #fcba30;}
.border li:nth-child(4){border-color: #1ccfc9;}
.border li:nth-child(5){border-color: #493224;}
.border li:nth-child(6){border-color: #b031c9;}
.border li:nth-child(7){border-color: #2528ec;}
.border li:hover {border-left: 10px solid transparent;}
.border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
.border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
.border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.border li:nth-child(5):hover {border-right: 10px solid #493224;}
.border li:nth-child(6):hover {border-right: 10px solid #b031c9;}
.border li:nth-child(7):hover {border-right: 10px solid #2528ec;}

.reviews_post {
    color: #333333;
    padding: 10px;
}

.reviews_header {
    font-weight: bold;
    font-size: 16px;
}

.reviews_text {
    text-align: justify;
    font-size: 14px;
    margin-top: 20px;
}

#contact {
    text-align: justify;
	font-size:16px;
}
.contact-map {
    margin-bottom: 15px;
    height: 378px;
}

.head_contact {
    padding-bottom:80px;
    margin-bottom:0;
}

.contact_right img {
	margin-right:5px;
}

.contact_right i {
    margin-bottom: 15px;
}

.contact_right form {
	padding-left:15px;
	padding-right:15px
}

.certificate-img {
    height: 100%;
    width: 100%;
}

.certificate_txt {
	border-left:2px solid #ffffff;
	min-height:160px;
}

.certificate_author {
	color: #FFFF33;
	font-size: 14px;
	float: right;
}

.partners {
	border-top: 2px solid #cccccc;

}

.partners .partner-item {
    margin: 0 0 5px;
}

.list-inline img {
   height: 70px;
}

.footer {
	border-top: 2px solid #cccccc;
	margin-top: 100px;
}

.footer_container {
	margin-top:60px;
	margin-bottom:20px;
}

.footer_bottom_content {
	margin: auto;
	margin-bottom: 30px;
	font-size: 14px;
	color:#333333;
}

.link_orange:hover {
    text-decoration:none;
}

.certificate {
    background: url("../images/background.png");
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px;
	margin-bottom:80px;
}

.form-popup {
 position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.form-container {
    width: 500px;
    padding: 10px;
    background-color: white;
    max-width: 50em;
    border: 1px #e67e22;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #e67e22;
    text-align: left;
}
.form-container h1 {
    text-align: center;
}
.form-container .btn {
    margin-bottom: 30px;
    height: 50px;
    position: relative;
}
.form-container textarea {
    max-width: 100%;
    min-width: 100%;
}

.form-horizontal textarea {
    height: 85px;
    max-width: 100%;
    min-width: 100%;
}

.form-group span{
    margin-left: 10px;
}
.policy-popup {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
.policy-container {
    width: 800px;
    max-height: 900px;
    padding: 30px;

    background-color: white;
    max-width: 50em;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    text-align: left;
}
.policy-container h1 {
    text-align: center;
}
.policy-text {
    height: 100%;
    overflow: auto;
}

.closebtn {
    margin-left: 15px;
    color: #000000;
    font-weight: bold;
    float: right;
    font-size: 56px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #e67e22;
}

@media (min-width:991px) and (max-width:1200px) {
    .project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .project-gallery {
        margin-left: -70px;
    }

    .service-item-header {
        padding: 16px 10px 20px;
    }

    .header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }

}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn-read-more {
        float:right;
        margin-bottom :40px;
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 5%;
    }
    .project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .project-gallery {
       margin-left: 10px;
    }

    .reviews_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 5%;

    }
    .btn-read-more {
            float:right;
            margin-bottom :40px;
      }

     .policy-container {
         width: 90%;

     }
     .policy-text {
        height: 500px;
     }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 5%;

    }
	.service-item-header {
		font-size: 16px;
		padding: 23px 10px 22px;
	}

}


